#Binaries
Framework/applet/*.class
Framework/servlet/*.class
Framework/shared/*.class
Framework/experimentation/*.class
Framework/example/*/*.class

#Personal
Framework/experimentation
Framework/experimentation/*
Framework/experimentation/text/*

#Git
.gitignore~

#Eclipse
.metadata/
.metadata/*
.metadata/.*
Framework/java.policy.applet
Framework/applet/java.policy.applet
Framework/applet.Applet1357446806811.html
Framework/.classpath
Framework/.project
Framework/.pydevproject
Framework/.settings/
