#Binaries
Simulation/applet/*.class
Simulation/servlet/*.class
Simulation/shared/*.class

#Git
.gitignore~

#Eclipse
.metadata/
.metadata/*
.metadata/.*
Simulation/java.policy.applet
Simulation/applet/java.policy.applet
